.avatar {
  display: inline-block;
  border-radius: 5px;
  border: none;
  margin: 10px;
  color: white;
  text-align: center;
  background-color: rgb(104, 70, 133);
  background-size: 100%;
  height: 100px;
  width: 100px;
}
